#!/bin/bash

set -eu

domain="{{ xmpp.domain }}"

username=$1
password=$2

ejabberdctl=/opt/ejabberd/bin/ejabberdctl

$ejabberdctl check_account "$username"  "$domain" && exit 0


$ejabberdctl register "$username" "$domain" "$password"
