[Unit]
Description=A distributed, fault-tolerant Jabber/XMPP server
After=network.target

[Service]
Type=simple
User=ejabberd
Group=ejabberd
LimitNOFILE=65536
RestartSec=5
ExecStart=/opt/ejabberd/bin/ejabberdctl \
                --config-dir /etc/ejabberd \
                --config /etc/ejabberd/ejabberd.yml \
                --spool /data/ejabberd/spool \
                foreground
ExecStop=/opt/ejabberd/bin/ejabberdctl \
                --config-dir /etc/ejabberd \
                --config /etc/ejabberd/ejabberd.yml \
                --spool /data/ejabberd/spool \
                stop
PrivateDevices=true
ProtectSystem=full
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
